{% extends 'base.html' %}
{% load static %}
{% block content %}

  <section class="container-fluid pt-5 bg mt-5" id="personal-page">
      <div class="containe text-center mt-5">
        <div class="row pt-md-5 pt-lg-0 pb-5">
            <div class="col-12">
                <h1 class="text-white fw-bolder sizePeronalH">Контакт</h1>
            </div>
        </div>

      </div>
    </section> 

    <section class="container-fluid py-3">
        <div class="container p-0">
            <div class="row">
              <div class="col-12">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb bg-transparent">
                    <li class="breadcrumb-item"><a href="index.html" class="text-dark"><i class="fas fa-home"></i> Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Контакт</li>
                  </ol>
                </nav>

              </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 py-2 py-md-5 text-dark">
                {% for i in kontact %}
                {{ i.contact_text }}
                {% endfor %}  
                </div> 
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 px-0 py-3 text-dark">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.0533825768166!2d69.22106791973172!3d41.351193405547015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8c690928b343%3A0x95b56aea31384f98!2sAcademic%20Lyceum%20under%20Turin%20Polytechnic%20University!5e0!3m2!1sru!2s!4v1676893385744!5m2!1sru!2s" 
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                
            </div>
        </div>
    </section>

{% endblock content %}