{% extends 'base.html' %}
{% load static %}
{% block content %}

  <section class="container-fluid pt-5 bg mt-5">
      <div class="containe text-center mt-5">
        <div class="row pt-md-5 pt-lg-0 pb-5">
            <div class="col-12">
                <h1 class="text-white fw-bolder sizePeronalH">Cобытия</h1>
            </div>
        </div>

      </div>
    </section> 


    <section class="container-fluid py-3">
        <div class="container">
          <div class="row">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-transparent">
                <li class="breadcrumb-item"><a href="index.html" class="text-dark"><i class="fas fa-home"></i> Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cобытия</li>
              </ol>
            </nav>
          </div>
            <div class="row">   
            {% for i in even %}              
                 <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-2">
                      <div class="row border p-3">
                        <div class="col-12"><h5 class="fw-bold pb-0">{{i.title}}</h5></div>

                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2 text-start text-md-center"><span><i class="fa fa-calendar text-secondary"></i> {{i.date}} </span></div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-5 col-xl-3 text-start text-md-center"><span class="px-2"><i class="fa fa-user text-secondary"></i> {{i.user_name}} </span></div>
                        <div class="col-12 col-sm-2 col-md-5 col-xl-5 col-xl-7"></div>
                        <div class="col-12 col-lg-3 col-xl-2 mt-2"><img src="img/default.png" width="100%" alt=""></div>
                        <div class="col-12 col-lg-9 col-xl-10 mt-2">
                          <h6 class="px-3 fw-normal">
                     			{{i.description}}
                             <a href="{% url 'events-detaile' event_id=i.pk %}">... o’qishda davom eting</a></h6> 
                        </div>
                      </div>
                 </div> 
                 {% endfor %}
            </div>
        </div>
    </section>

{% endblock content %}